<div class="container">
 <div class="row">
  <div class="mx-auto d-flex">
    <%= image_tag "motocrew_about.jpg" %>
    <div class="card-img-overlay">
     <p class="card-text text-center">
      <h1><storong>About</storong></h1>
     このサイトを作成しました。地方の高卒リーマン（24）です。<br>
     普段は上司にこき使われ、小言を言われながら、うだつの上がらない日々を過ごしています。<br>
     そして今「サンプラザ中野くん/おおきな玉ねぎの下で」を聴き終わったところです。<br>
     さて、このサイトを作った経緯ですが、1番の理由は私自身も「ちょうど1年前に」バイクに乗り始めたことが理由です。<br>
     バイクに乗りたいけど、いつもと違う場所に行きたい…さてどこに行こうかな。とか<br>
     ここに行くけどどんなお店があるのかなとか。行動より考え込むことが多くて<br>
     バイクにフォーカスしたコミュニティサイトがあれば…という思いから作成しました。<br>
     たくさんの人がここで情報交換してもらえればと思います。<br>
     つたないサイトですが使ってもらえると大変うれしいです。<br>
    </p>
   </div>
  </div>
 </div>
</div>
