<div class="about-container">
 <h1><storong>About -サイト作成者より-</storong></h1>
 <div class="row">
  <div class="col">
   <%#= image_tag "motocrew_about.jpg" %>
    <div class="mx-auto d-flex">
     <p class="text-center">
     このサイトを作った経緯ですが、1番の理由は私自身もコロナ期間に免許を取り、バイクに乗り始めたことが理由です。<br>
     バイクに乗りたいけど、いつもと違う場所に行きたい…けど、どこに行こうかな。とか<br>
     行った先でどんなお店があるのかなとか。バイクに乗ることよりも前に、考え込むことが多くて<br>
     バイクにフォーカスしたコミュニティサイトがあったらいいな…という思いから作成しました。<br>
     たくさんの人がここで情報交換してもらえればと思います。<br>
     つたないサイトですが使ってもらえると大変うれしいです。<br>
    </p>
    </div>
   </div>
  </div>
 </div>
</div>
