<!--h1>User::Homes#top col-11 col-sm-10 col-lg-8 col-xl-6   </h1>
<p>Find me in app/views/user/homes/top.html.erb</p-->

<div class="container">
  <div class="row">
    <div class="col">
      <div class="mx-auto d-flex">
        <%= image_tag "motocrew_top.jpg" %>
        <div class="card-img-overlay">
          <p class="card-text text-center">
            ようこそ<storong>Moto Crew【モトクルー】</storong>へ！<br>
            このサイトはこれからバイクに乗る人や,<br>
            いまバイクに乗っている人たちが集まるコミュニティサイトです！<br>
            ツーリングスポットの検索をしたり,自分の行ったツーリング先や<br>
            グルメ,バイクのカスタマイズの情報を投稿したりして<br>
            情報をシェアしましょう！<br>
            <%= link_to 'ゲストログイン',  home_guest_sign_in_path, method: :post, class: 'btn btn-dark mt-3' %><br>
            <%= link_to '新規会員登録', new_user_registration_path, method: :get, class: 'btn btn-dark mt-3' %><br>
            <%= link_to 'ログイン', new_user_session_path, method: :get, class: 'btn btn-dark mt-3' %><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>