<!--h1>User::Homes#top</h1>
<p>Find me in app/views/user/homes/top.html.erb</p-->

<div class="container">
  <div class="row">
    <div class="col">
      <div class="text">
        <%= image_tag "motocrew_top.jpg", class: "bd-placeholder-img bd-placeholder-img-lg shadow-lg"%>
        <div class="card-img-overlay d-flex">
          <p class="card-text align-self-center mx-auto font-weifh-bold h5 text-primary">
            ようこそ<span>Moto Crew【モトクルー】</span>へ！<br>
            このサイトはこれからバイクに乗る人たち,<br>
            いまバイクに乗っている人たちが集まるコミュニティサイトです！<br>
            ツーリングスポットを検索したり,自分が行ったツーリング先や<br>
            グルメ,バイクのカスタマイズの情報を投稿したりして情報をシェアしましょう！<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>